DataCollection/DataCollected/
smartwatch_data/

DataCollection/AndroidDevelopment/AV_Streaming_App/.idea/misc.xml
DataCollection/AndroidDevelopment/AV_Streaming_App/camstrm/app/lint-baseline.xml
DataCollection/AndroidDevelopment/AV_Streaming_App/camstrm/local.properties