pip install torch==1.12.1+cu113 torchvision==0.13.1+cu113 torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu113
pip install -q torch-scatter -f https://pytorch-geometric.com/whl/torch-1.12.1+cu113.html
pip install -q torch-sparse -f https://pytorch-geometric.com/whl/torch-1.12.1+cu113.html
pip install -q torch-geometric
pip install transformers
pip install tqdm
pip install pandas
pip install numpy
pip install openpyxl
pip install yaml